.intro {
  margin: 0 124px 0;
  margin-left: 150px;
  max-width: 785px;
}

.intro__heading {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 auto 40px;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
  margin: 0 auto 10px 0;
}

.intro__quote-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 720px;
  margin: 0 auto 32px 0;
}

.intro__statement {
  font-size: 16px;
  line-height: 163%;
  margin: 0 auto 118px 0;
  max-width: 720px;
}

@media screen and (max-width: 1100px) {
  .intro {
    margin: 0 auto 90px;
    max-width: 720px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    margin: 0;
    padding: 0 16px 0;
  }
  .intro__heading {
    font-size: 32px;
    line-height: 35px;
    font-size: 32px;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 30px;
  }
  .intro__quote-author {
    font-size: 24px;
    line-height: 34px;
  }
  .intro__statement {
    font-size: 16px;
    line-height: 26px;
  }
}
